.journeyCards{

border-radius: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width:0px) and (max-width:470px){
    .titleJourney h1{
        font-size: 28px;
    }
}

